
.leaflet-popup-content-wrapper {
  width:220px;
}

.leaflet-popup-content-wrapper .popupContent {
  margin:0px;
  padding:0px;
}

.leaflet-popup-content-wrapper .name {
  margin:0px;
  padding:0px;
}

.leaflet-popup-content-wrapper .address {
  margin:0px;
  padding:0px;
  font-family: Gotham Rounded SSm A,Gotham Rounded SSm B,Arial,Georgia,Serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: #888;
}

.leaflet-popup-content-wrapper .timetable {
  font-weight: 400;
  letter-spacing: 0;
  font-size: 0.9rem;
  margin:0px;
  padding:0px;
}

.leaflet-popup-content-wrapper .destination{
  margin:0px;
  padding:0px;
  color: #333;
  font-weight: 300 !important;
}
.leaflet-popup-content-wrapper .transitInfo{
  margin:0px;
  padding:0px;
  white-space: nowrap;
}

.leaflet-popup-content-wrapper .bus {
  color:blue;
}
.leaflet-popup-content-wrapper .tram {
  color:green;
}
.leaflet-popup-content-wrapper .train {
  color:purple;
}
.leaflet-popup-content-wrapper .metro {
  color:orange;
}
